.page.theme_dark {
  --text-color: #F1B2CE;
  --accent-color: #ff0070;
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --title-color: #ff0070;
  --subtitle-color: #000028;
  --main-title-color: #DB00FF;
  --font-family: 'IBM Plex mono', monospace;
  --bg-color: #000028;
  --bg-color-text: #FF0070;
  --link-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --link-hover: #F1B2CE;
}
