:root .theme_light {
  --title-shadow:#ff0070;
  --accent-color: #353430;
  --main-title-color: #FFC2E6;
  --bg-color-text: #FF8DCB;
  --title-color: #353430;
  --subtitle-color: #353430;
  --text-color: #353430;
  --link-color: #FF8DCB;
  --link-hover:#353430;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color-hover: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --title-shadow:#ff0070;
    --accent-color: #353430;
    --main-title-color: #FFC2E6;
    --bg-color-text: #FF8DCB;
    --title-color: #353430;
    --subtitle-color: #353430;
    --text-color: #353430;
    --link-color: #FF8DCB;
    --link-hover:#353430;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color-hover: rgba(50, 49, 45, 0.4);
  }
  
  .page.theme_auto .decor__rec {
    display: none;
  }
}

.page.theme_light .decor__rec {
  display: none;
}